$font-family-montserrat-bold: 'MontserratBold', Eina01, sans-serif;
$font-family-montserrat-regular: 'MontserratRegular', Eina01, sans-serif;
$font-family-montserrat-light: 'MontserratLight', Eina01, sans-serif;
$font-family-montserrat-extra-light: 'MontserratExtraLight', Eina01, sans-serif;

$font-color-header: #2B2A35;
$font-color-text: #545465;
$primary-color: #603BF0;
$primary-color-light: #7652F3;
$bg-color: #F4F6F8;
$error-color: #FF8686;
$component-item-bg-color: #DBE2E9;
