@import '../styles.scss';

.switcher {
    display: flex;
    height: 32px;
    position: relative;

    & p {
        position: absolute;
        left: -6px;
        height: 32px;
        line-height: 32px;
        transform:
            translate3d(-100%, 0, 0)
            scale(1);
        user-select: none;
        margin: 0;
        font-size: 14px;
        font-family: $font-family-montserrat-bold;
        color: $font-color-header;
    }

    & label {
        position: relative;
        display: inline-block;
        width: 58px;
        height: 32px;

        & input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        & input:checked + .switcher__slider {
            background-color: $primary-color;
        }

        & input:checked + .switcher__slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $component-item-bg-color;
        transition: 200ms;
        border-radius: 24px;

        &:before {
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            left: 4px;
            bottom: 4px;
            background-color: #FFFFFF;
            transition: 200ms;
            border-radius: 50%;
        }
    }
}
